<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <label for="email">Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        <div class="form-group">
          <label for="subscription">Subscriptions</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
         </div>
         <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            required
            ngModel
            minlength="12"
            #password="ngModel"
            >
         <span class="help-block" *ngIf="!password.valid && password.touched"  >Password must contain atleast 12 characters</span>
         </div>
         <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Subscribe</button>


      </form>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
        <h3>Your Data</h3>
        <p>Mail: {{ subscriber.email }}</p>
        <p>Subscription: Your Subscription:  {{ subscriber.subscription }}</p>
        <p>Password: {{ subscriber.password }}</p>
    </div>
  </div>
</div>